body {
  width: 480px;
  margin: auto;
  padding: 60px 0 60px 0;
  font-family: 'Noto Sans', sans-serif;
  color:#585858
}

p {
  padding-top: 15px;
  padding-left: 20px;
}

div {
  background-color: #E3E2E2;
}

#a {
  height: 75px;
  width: 480px;
  background-color: rgb(247, 134, 134);
}

#b {
  height: 150px;
  width: 480px;
  background-color: rgb(244, 184, 144);
}

#c {
  height: 125px;
  width: 480px;
  background-color: rgb(252, 236, 146);
}

#d {
  height: 125px;
  width: 480px;
  background-color: rgb(203, 248, 152);
}

#efgh {
  width: 480px;
  overflow: auto;
  content: "";
  clear: both;
  display: table
}

#e {
  height: 250px;
  width: 240px;
  float: left;
  background-color: rgb(180, 243, 252);
}

#f {
  height: 250px;
  width: 240px;
  float: left;
  background-color: rgb(197, 193, 250);
}

#g {
  height: 250px;
  width: 240px;
  float: left;
  background-color: rgb(184, 159, 159);
}

#h {
  height: 250px;
  width: 240px;
  float: left;
  background-color: rgb(171, 180, 151);
}

#i {
  height: 80px;
  width: 480px;
  background-color: rgb(255, 231, 196);
}

@media only screen and (min-width: 800px) {
  body {
    width: 960px;
    margin: auto;
  }

  #a {
    height: 100px;
    width: 960px;
  }

  #b {
    height: 600px;
    width: 200px;
    float: left;
  }

  #bcdefgh {
    float: left;
  }

  #bcd {
    width: 960px;
    height: 600px;
    overflow: auto;
    content: "";
    display: table;
  }

  #c, #d {
    height: 200px;
    width: 380px;
    float:left;
  }

  #efgh {
    height: 250px;
    width: 760px;
  }

  #e, #f, #g, #h {
    height: 250px;
    width: 190px;
  }

  #i {
    height: 150px;
    width: 760px;
    float: right;
  }
}